.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin: 1rem auto 0;
  padding: 0 var(--padding-lateral-base);

  color: var(--accent);
}

.siteTitle,
.navigationLinks {
  transition: color 0.2s linear;
}

.siteTitle:hover,
.navigationLinks:hover {
  color: var(--color);
}

.siteTitle {
  margin: 1rem 0;
  padding-right: 0.5rem;

  font-size: var(--text-xl);
}

.navigation {
  display: flex;

  font-size: var(--text-base);
  padding: 0.5rem 0;
}

.navigationLinks {
  margin-right: 2rem;
}

.navigationLinks:last-child {
  margin-right: 0;
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0 var(--padding-lateral-sm);
  }
}
