.main {
  display: flex;
  flex-direction: column;

  padding: 0 var(--padding-lateral-base) 4rem;
}

.header {
  font-size: var(--text-3xl);
  font-weight: 600;

  margin-top: 3.5rem;
}

.tagsContainer {
  margin-top: 3rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  border: 1px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
  padding: 0.375rem 1rem;
}

@media (max-width: 700px) {
  .main {
    padding-right: var(--padding-lateral-sm);
    padding-left: var(--padding-lateral-sm);
  }
}
