.pageMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 var(--padding-lateral-base) 4rem;
}

.mainMessage {
  margin-bottom: 0.5rem;

  font-size: var(--text-5xl);
  color: var(--accent);
}

.subMessage {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;

  font-size: var(--text-lg);
}

.homepageLink {
  text-decoration: underline;
  color: var(--accent);
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .pageMessage {
    padding-right: var(--padding-lateral-sm);
    padding-left: var(--padding-lateral-sm);
  }
}
